/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&display=swap');

.ff-prompt {
  font-family: 'Prompt', sans-serif;
}

.ff-inter {
  font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
