<section class="criar-tarefa">
  <div class="botao-criar">
    <button (click)="mostrarOuEsconderFormulario()">
      Criar nova tarefa
    </button>
  </div>
  <form class="formulario ff-prompt"
    [formGroup]="formulario"
    *ngIf="formAberto">
    <label for="descricao">Descrição da tarefa</label>
    <input required
      type="text"
      formControlName="descricao"
      placeholder="Digite a tarefa"
      [ngClass]="campoValidado('descricao')"
    >
    <app-mensagem
      *ngIf="!validado"
      mensagemValidacao="Preencha a descrição">
    </app-mensagem>
    <label for="prioridade">Prioridade</label>
    <select required
      formControlName="prioridade"
      [ngClass]="campoValidado('prioridade')"
    >
      <option disabled value="">Selecione</option>
      <option value="Alta">Alta</option>
      <option value="Normal">Normal</option>
      <option value="Baixa">Baixa</option>
    </select>
    <app-mensagem
      *ngIf="!validado"
      mensagemValidacao="Escolha a prioridade">
    </app-mensagem>
    <label for="categoria">Categoria</label>
    <select required
      formControlName="categoria"
      [ngClass]="campoValidado('categoria')"
    >
      <option disabled value="">Selecione</option>
      <option value="Casa">Casa</option>
      <option value="Trabalho">Trabalho</option>
      <option value="Estudos">Estudos</option>
    </select>
    <app-mensagem
      *ngIf="!validado"
      mensagemValidacao="Escolha a categoria">
    </app-mensagem>
    <div class="botoes-form">
      <button
        (click)="salvarTarefa()"
        class="botao-form"
        [ngClass]="habilitarBotao()"
        [disabled]="!formulario.valid">
          Salvar
      </button>
      <button
        (click)="cancelar()"
        class="botao-form botao-cancelar">
          Cancelar
      </button>
    </div>
  </form>
</section>
<section class="listagem-tarefas">
  <div class="ilustracao" *ngIf="!formAberto">
    <h2>Suas tarefas</h2>
    <img src="assets/imagens/ilustracao-Tarefas.png"
        alt="Ilustração de um ambiente com mesa, computador, quadro e um vaso com planta">
  </div>
  <div *ngIf="listaTarefas.length > 0, else semTarefas">
    <div
      class="lista-tarefas card-{{ tarefa.categoria }}"
      *ngFor="let tarefa of listaTarefas">
      <div class="info-card">
        <p class="categoria-tarefa categoria-{{ tarefa.categoria }}">
          <img
            src="assets/icones/{{ tarefa.categoria }}.png"
            alt="Ícone de {{ tarefa.categoria }}">
              {{ tarefa.categoria }}
        </p>
        <p class="prioridade-tarefa prioridade-{{ tarefa.prioridade }}">
          {{ tarefa.prioridade }}
        </p>
        <p class="status-tarefa">
          <button
            [ngClass]="(tarefa.statusFinalizado == true) ? 'icone-checked' : 'icone-unchecked'"
            (click)="finalizarTarefa(tarefa.id);">
          </button>
        </p>
      </div>
      <div class="conteudo">
        <p
          class="card-descricao ff-prompt
          card-{{ tarefa.statusFinalizado ? 'Feito' : '' }}">
            {{ tarefa.descricao }}
        </p>
        <div class="botoes-card">
          <button
            class="botao-editar"
            (click)="carregarParaEditar(tarefa.id)">
            <img src="assets/icones/icone-editar.png" alt="Ícone de editar">
          </button>
          <button
            (click)="excluirTarefa(tarefa.id)"
            class="botao-deletar">
            <img src="assets/icones/icone-excluir.png" alt="Ícone de excluir">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #semTarefas>
  <p class="ng-template ff-prompt">Olá! Ainda não há tarefas por aqui! :)</p>
</ng-template>

