.main {
  background: linear-gradient(177.52deg, #4574E3 2.11%, #154580 81.34%);
  padding: 2rem 0;
  min-height: 100vh;
}

.container {
  max-width: 328px;
  margin: 0 auto;
}

.lista {
  background: white;
  padding: 1rem;
  width: 328px;
}

.lista h4 {
  padding-bottom: 1rem;
  font-family: 'Mansalva', sans-serif;
  color: #4574E3;
}

.content {
  display: grid;
  grid-template-columns: .5fr 2.5fr .5fr .5fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "checkbox description delete-icon edit-icon"
    "date date date date";
  padding: .5rem 0;
}

small {
  font-size: .5rem;
}

.checkbox {
  /* justify-self: start; */
  grid-area: checkbox;
}

.description {
  justify-self: start;
  align-self: center;
  grid-area: description;
}

.delete-icon {
  justify-self: center;
  align-self: center;
  grid-area: delete-icon;
}

.edit-icon {
  justify-self: center;
  align-self: center;
  grid-area: edit-icon;
}

.date {
  justify-self: start;
  grid-area: date;
}
.line-through {
  text-decoration: line-through;
}

.header-lista {
  align-items: center;
  border-bottom: 1px solid blue;
  border-style: none none dashed none;
  display: flex;
  justify-content: space-between;
  padding-bottom: .5rem;
}

.btn-header {
  background-color: transparent;
  border: 1px #4574e3 solid;
  padding: 1px 9px;
  border-radius: 9px;
}
