<section class="main">
  <app-input [itemQueVaiSerEditado]="itemParaSerEditado">
  </app-input>
  <div class="container">
    <div class="lista">
      <div class="header-lista">
        <h4 class="title-list">Lista de Compras</h4>
        <button class="gtn-header" (click)="limparLista()">
          <small>Limpar Lista</small>
        </button>
      </div>
      <div *ngIf="listaDeCompra.length !== 0; else naoTemItem">
        <div *ngFor="let item of listaDeCompra">

          <app-item [item]="item"
          (emitindoItemParaEditar)="editarItem($event)
          "
          (emitindoIdParaDeletar)="deletarItem($event)"
          >
          </app-item>

        </div>
      </div>
      <ng-template #naoTemItem>
        <small>Não tem item na lista.</small>
      </ng-template>
    </div>
  </div>
</section>
